 @import "tailwindcss";

html {
  font-size: calc(100vw / 1920 * 10);
}

.demo-1__gallery {
  height: 295rem;
  position: relative;
  visibility: hidden;
}

.demo-1__gallery__figure {
  position: absolute;
}

.figure-1 {
  height: 40rem;
  width: 70rem;
}

.figure-2 {
  height: 50rem;
  left: 85rem;
  top: 30rem;
  width: 40rem;
}

.figure-3 {
  height: 50rem;
  left: 15rem;
  top: 60rem;
  width: 60rem;
}

.figure-4 {
  height: 30rem;
  right: 0;
  top: 10rem;
  width: 50rem;
}

.figure-5 {
  height: 60rem;
  right: 15rem;
  top: 55rem;
  width: 40rem;
}

.figure-6 {
  height: 75rem;
  left: 5rem;
  top: 120rem;
  width: 57.5rem;
}

.figure-7 {
  height: 70rem;
  right: 0;
  top: 130rem;
  width: 50rem;
}

.figure-8 {
  height: 50rem;
  left: 85rem;
  top: 95rem;
  width: 40rem;
}

.figure-9 {
  height: 65rem;
  left: 75rem;
  top: 155rem;
  width: 50rem;
}

.figure-10 {
  height: 43rem;
  right: 0;
  top: 215rem;
  width: 30rem;
}

.figure-11 {
  height: 50rem;
  left: 70rem;
  top: 235rem;
  width: 80rem;
}

.figure-12 {
  left: 0;
  top: 210rem;
  height: 70rem;
  width: 50rem;
}

.demo-1__gallery__image {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}